@import "../../vars";

.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    z-index: 90;

    .nav-btn {
        background-color: transparent;
        border: none;
        font: inherit;
        color: white;
        width: 100%;
        margin: 4rem auto;

        position: sticky;
        top: 4rem;
    }

    .sidebar-btn {
        display: flex;
        justify-content: flex-end;
        padding-right: 4rem;
    }
}