@import "../../vars";

.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-items: center;
    justify-items: center;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $md) {
        grid-column: 1 / -1;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;

        @media only screen and (max-width: $md) {
            grid-template-columns: repeat(3, min-content max-content);
        }

        @media only screen and (max-width: $sm) {
            grid-template-columns: min-content max-content;
        }
    }

    &__img {
        display: block;
        width: 7rem;
        border-radius: 50%;
    }

    &__sold {
        color: $color-grey-light-2;
        text-transform: uppercase;
        margin-top: -3px;
    }
}